---
import BaseHead from "@/components/base-head.astro";
import Container from "@/components/container.astro";
import Header from "@/components/header.astro";

import "@/styles/global.css";
import "@/styles/prose.css";

interface Props {
	post: {
		title: string;
		description: string;
		date: string;
		readingTime?: string;
		url: string;
	};
}

const { post } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body class="font-mono">
		<Header />
		<main class="flex min-h-[calc(100vh-(--spacing(56)))] flex-1 flex-col pb-12 md:pb-36">
			<Container size="md">
				<div class="h-entry flex flex-col pt-24 md:pt-48">
					<div class="flex flex-col gap-2">
						{
							(post.date || post.readingTime) && (
								<div class="flex items-center gap-2 text-sm text-gray-500 uppercase">
									{post.date && (
										<time
											class="dt-published"
											datetime={post.date}
										>
											{post.date}
										</time>
									)}
									{post.date && post.readingTime && <span aria-hidden="true">·</span>}
									{post.readingTime && <span>{post.readingTime}</span>}
								</div>
							)
						}
						<h1 class="p-name text-3xl font-semibold">
							{post.title}
						</h1>
						<p class="p-summary text-gray-500">{post.description}</p>
						{
							post.url && (
								<a
									class="u-url hidden"
									href={post.url}
								>
									{post.title}
								</a>
							)
						}
						<span class="p-author h-card hidden">
							<a
								class="p-name u-url"
								href="https://abhi.computer/"
								rel="author"
								>Abhigyan Trips</a
							>
						</span>
					</div>
					<hr class="my-6 border-t-2 border-gray-300" />
					<slot />
				</div>
			</Container>
		</main>
	</body>
</html>
